@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";

$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px;
    }
  }
}

.organisation-card {
    border-radius: 10px;
    overflow: hidden;
    &:hover{
      .card-image {
        .image {
          background-color: rgba($grey-lighter, 0.7)	;
        }
      }
      .card-content{
        background-color: rgba($info, 0.2);
        .title {
          color: $blue;
        }
      }
    }

    .card-image {
      border-bottom: solid 1px lightgray;
      .image {
        padding: 1.5rem;
        max-height: 8rem;
        overflow: hidden;
        background-color: rgba($grey-lighter, 0.3)	;
        img {
          width: 128px;
          margin: 0 auto;
          box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
        }
      }
    }

    .card-content{
      min-height: 100px;
    }
}

.entity-card {
    border-radius: 10px;
    overflow: hidden;
    &:hover{
      .card-image {
        .image {
          background-color: rgba($grey-lighter, 0.7)	;
        }
      }
      .card-content{
        background-color: rgba($info, 0.2);
        .title {
          color: $blue;
        }
      }
    }

    &.fixed-icon-card{
      .card-image{
        .image{
          padding: 10px;
          img{
            box-shadow: none;
            max-height: 108px;
          }
        }
      }
    }

    &.icon-dimmed-card{
      .card-image{
        opacity: 0.5;
      }
    }

    .card-image {
      border-bottom: solid 1px lightgray;
      .image {
        min-height: 128px;
        padding: 1.5rem;
        max-height: 8rem;
        overflow: hidden;
        background-color: rgba($grey-lighter, 0.3)	;
        img {
          width: 128px;
          margin: 0 auto;
          box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
        }
      }
    }

    .card-content{
      min-height: 100px;
    }
}

.profile-portfolio{

  border-top: 1px dotted rgba(0, 0, 0, 0.2);
  padding-top: 1rem;
  .favorite-item{
    bottom: 6px;
  }
  .card-content{
    min-height: 108px;
  }
}

.file-image{
  img{
    @include mobile {
      max-height: 128px;
      width: auto;
    }
  }
}

.favorite-block{
  width: 100%
}

.hover-remove-container{
  .hover-remove-icon{
    visibility: hidden;
  }
  &:hover{
    .hover-remove-icon{
      visibility: visible;
    }
  }
  @media (hover: none) {
    .hover-remove-icon{
      visibility: visible;
    }
  }
}

.favorite-item{
  position: absolute;
  bottom: 30px;
  right: 10px;
  color: $grey-light;
  &:hover {
    color: $grey-darker;
  }
}

.portfolio-item{
  position: absolute;
  bottom: 6px;
  right: 10px;
  color: $grey-light;
  &:hover {
    color: $grey-darker;
  }
}

.file-list{
  thead{
    tr{
        @include tablet {
          th:first-of-type{
            min-width: 200px;
          }
        }
    }
  }
}

.profile-contact-column{
  @include tablet {
    border-left: 1px dotted rgba(0, 0, 0, 0.2);
    padding-left: 2rem;
  }
}
